html,
body {
    height: 100%;
    // overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    @extend %roboto-300;
    font-size: 21px;
    line-height: 28px;
    color: $text;
    background-color: #393c44;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1920px;
    padding: 0 83px;
    margin: 0 auto;
}
